.btn-createCart {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 50px;
  outline: none;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  transition: opacity .3s ease-in-out;
}

.btn-createCart:hover,
.btn-createCart:focus {
  opacity: .6;
}

@media screen and (max-width:400px) {
  .btn-createCart {
    width: 100%;
  }
}
